<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <aside class="sidebar">
    <div class="logo">
      <a href='{{ "/" | relURL }}'>
        <img src='{{ "images/zdjecie8.png" | relURL }}' alt="Logo">
      </a>
    </div>
    <nav>
      <a href='{{ "/" | relURL }}'>O mnie</a>
      <a href='{{ "/fotografia/" | relURL }}'>Fotografia</a>
      <a href='{{ "/grafika/" | relURL }}'>Grafika</a>
      <a href='{{ "/kontakt/" | relURL }}'>Kontakt</a>
    </nav>
  </aside>

  <main class="content">
    {{ block "main" . }}{{ end }}
  </main>
</body>
</html>
