{{ define "main" }}
<h1>{{ .Title }}</h1>
<p>{{ .Content }}</p>

<div class="gallery">
  {{ range .Pages }}
  <a href="{{ .RelPermalink }}" class="thumb-wrapper">
    {{ $base := .File.BaseFileName }}
    {{ $.Scratch.Set "img" "" }}
    {{ if fileExists (printf "static/images/%s.jpg" $base) }}
    {{ $.Scratch.Set "img" (printf "images/%s.jpg" $base) }}
    {{ else if fileExists (printf "static/images/%s.JPG" $base) }}
    {{ $.Scratch.Set "img" (printf "images/%s.JPG" $base) }}
    {{ else if fileExists (printf "static/images/%s.png" $base) }}
    {{ $.Scratch.Set "img" (printf "images/%s.png" $base) }}
    {{ else }}
    {{ $.Scratch.Set "img" (printf "images/%s.jpg" $base) }}
    {{ end }}
    <img src='{{ $.Scratch.Get "img" | relURL }}' alt='{{ .Title }}'>
    <span class="thumb-text">{{ .Title }}</span>
    </a>
  {{ end }}
</div>
{{ end }}
